html
  head
    include ./includes/bootstrap.jade
    script(src='todo.js')
    block title
      title Hello world!
    script(src="todo.js")
    block title
      title Hello world!

  body
    .container
      .well
        block body
